table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--primaryColor);
    color: white;
}

th, td, .buttons
{
    padding: 8px;
    text-align: left;
}

tr:nth-child(even)
{
    background-color: #f2f2f2;
}

tr:nth-child(odd)
{
    background-color: #fff;
}

.buttons
{
    display: flex;
    justify-content: space-evenly;
}

.edit-btn
{
    background-color: var(--primaryColor);
    color: white;
    border-radius: 10px;
    width: 50px;
    border: none;
    cursor: pointer;
}

.delete-btn
{
    background-color: var(--secondaryColor);
    color: white;
    border-radius: 10px;
    width: 50px;
    border: none;
    cursor: pointer;
}

th:last-child
{
    text-align: center;
}
